competition_comparison/skillcorner-20250214/
competition_comparison/skillcorner-20250214.zip
competition_comparison/data_summary.csv
competition_comparison/correlations.xlsx
competition_comparison/final_df.csv
competition_comparison/filtered_correlations.xlsx
competition_comparison/match_benchmarks.xlsx
competition_comparison/match_benchmarks_stat_grouped.xlsx
competition_comparison/match_benchmarks_stat_sep.xlsx
competition_comparison/mapping-competition-seasons.csv
competition_comparison/statsbomb-competition-levels.csv
competition_comparison/csv4visual.csv
competition_comparison/parquet4visual.parquet
competition_comparison/.vscode/
competition_comparison/skillcorner-20250214.zip:Zone.Identifier
competition_comparison/tukey_hsd_results.xlsx
competition_comparison/tukey_hsd_full_result.xlsx
competition_comparison/tukey_hsd_position.xlsx
competition_comparison/~$tukey_hsd_full_result.xlsx
competition_comparison/Tukey_Full_Results/
competition_comparison/Tukey_PerPos_Results/
competition_comparison/missing_statsbomb_data.xlsx
competition_comparison/competition_clusters.xlsx
competition_comparison/testclass.py
competition_comparison/test.ipynb
competition_comparison/output
competition_comparison/data
positional_data/SecondSpectrum  
positional_data/SecondSpectrum.zip  
positional_data/floodlight_parquets/
positional_data/secondspectrum-cup-testdata/
positional_data/np_arrays
